/* COLOR NAME */
/* h1{
    color: red;
} */

/* HEX CODE */
/* h1{
    color: #d59b92;
} */

/* RGB */
/* h1{
    color: rgb(200, 10, 60);
} */

/* BACKGROUND COLOR */
/* body{
    background-color: aquamarine;
    color: red;
} */

/* div{
    background-color: wheat;
    color: maroon;
} */

/* OPACITY */
/* #div1{
    background-color: blueviolet;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */

